body {
  text-align: center;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.game {
  margin: auto;
  display: flex;
  flex-direction: column;
  /* 높이와 넓이를 지정할 때 맨위에 변수로 지정해주면 좋음 */
  width: 1000px;
  height: 800px;
  background: url("https://images.unsplash.com/photo-1556838803-cc94986cb631?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2167&q=80")
    /* background-image 일때 안되는 이유, 뒤에 한번에 쓰기 가능 */ center/cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.game__header {
  display: flex;
  /* 방향 다시 공부하기 */
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.game__button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: rgb(233, 229, 229);
  border: 2px solid rgb(206, 126, 73);
  transition: transform 300ms ease-in;
  border-radius: 10px;
}

.game__timer {
  width: 100px;
  background-color: rgb(233, 229, 229);
  text-align: center;
  border: 2px solid rgb(206, 126, 73);
  font-size: 32px;
  margin-top: 8px;
  border-radius: 20px;
  visibility: hidden;
}

.game__score {
  visibility: hidden;
  width: 50px;
  height: 50px;
  font-size: 46px;
  background-color: rgb(212, 147, 104);
  border-radius: 50%;
  text-align: center;
  margin-top: 10px;
  color: white;
}
.game__button:hover {
  transform: scale(1.1);
}

.game__field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 150px;
}

.pop-up {
  /* 클래스가 팝업일때는 보이다가 */
  display: block;
  width: 400px;
  height: 150px;
  padding: 20px;
  /* #색상 + 투명도(%) */
  background-color: #a9a9a990;
  color: white;
  text-align: center;
  margin: auto;
  transform: translateY(-200%);
  border-radius: 30px;
}

.pop-up--hide {
  /* 클래스가 팝업hide일 때는 보이지 않게 하기 */
  display: none;
}

.pop-up__refresh {
  width: 60px;
  height: 60px;
  font-size: 30px;
  background-color: rgb(212, 147, 104);
  border-radius: 50%;
  color: white;
}

.pop-up__message {
  display: block;
  font-size: 38px;
  color: black;
}
